# directory
.obsidian
.vscode
archive
docs
img-tmp
data
log
tmp

# exclude pattern
*test*
*cache*

# personal file
channel.yml
TOKEN.py

.markdownlint.json

# python virtual env
bin/
lib/
lib64
pyvenv.cfg

##########
# macos
.DS_Store

# python
__pycache__
