# directory
img-tmp
data
json
log
tmp

# personal file
.obsidian
.vscode
archive
docs
*test*
channel.yml
TOKEN.py
script/scp-*.sh
# settings
.markdownlint.json

# python virtual env
bin/
lib/
lib64
pyvenv.cfg

##########
# macos
.DS_Store

# python
__pycache__