# directory
.obsidian
.vscode
archive
# /db
docs
img-tmp
data
log
tmp

# exclude pattern
*test*
*cache*
*.db
*.db-shm
*.db-wal

# personal file
config/admin.yml
config/channel.yml
config/TOKEN.py
config/roles.py
script/sync.sh
src/utils/emoji.py

.markdownlint.json

# python virtual env
bin/
lib/
lib64
pyvenv.cfg

##########
# macos
.DS_Store

# python
__pycache__
